<?xml version="1.0"?>
<model>
  <name>A_dessert_C_vegetable_D_fruit_board</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>zktian3</name>
    <email>zktian3@iflytek.com</email>
  </author>
  <description>QR code board for 20th smartcar race</description>
</model>
